<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <ScriptAppenderSelector name="SelectIt">
            <Script language="groovy" name="selectScripts"><![CDATA[
                    var result;
                    if (System.getProperty("os.name").equalsIgnoreCase("Windows")) {
                        result = "Null";
                    } else {
                        result = "Console";
                    }
                    return result;
            ]]>
            </Script>
            <AppenderSet>
                <Socket name="Socket" protocol="tcp" host="192.168.0.101" port="15000" immediateFail="true" immediateFlush="false"
                        bufferedIO="false">
                    <!--输出信息为ECS JSON格式-->
                    <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
                </Socket>
                <Console name="Console" target="SYSTEM_OUT">
                    <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'} [%t] %level %logger - %msg%n"/>
                </Console>
                <Null name="Null" />
            </AppenderSet>
        </ScriptAppenderSelector>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="SelectIt"/>
        </Root>
    </Loggers>
</Configuration>